@import url('https://fonts.googleapis.com/css2?family=Arya&family=Bakbak+One&family=Monoton&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    cursor: none;
}



#cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    mix-blend-mode: difference;
    /* color: white; */
    z-index: 999;
    border: 1px solid black;
}

#backToTop {
    width: 49px;
    height: 50px;
    background-color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    display: none;
    animation: backToTop 0.7s ease;
}

@keyframes backToTop {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#backToTop:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

#backToTop svg {
    width: 35px;
    height: 35px;
    transform: rotate(180deg) !important;
    position: relative;
    top: 7.5px;
    left: 7px;
}


.page {
    scroll-snap-align: start;
    min-height: 100%;
    width: 100%;
    background-color: #101010;
    border-top: 1px solid black;
}

.sous-page {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
}


.title {
    position: relative;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: 'Bakbak One', cursive;
    font-weight: 400;
    letter-spacing: 5px;
    padding-right: 20px;
    z-index: 10 !important;
}

.title hr {
    border: 1px solid #E1C118;
}


hr {
    margin: 0 !important;
    opacity: 1 !important;
}



h2 {
    font-size: 23px !important;
}

h4 {
    z-index: 50 !important;
}

a:hover {
    color: white !important;
}

/* .modal:hover {
    cursor: initial !important;
} */

.cursor {
    z-index: 9999 !important;
}

.modal {
    z-index: 99 !important;
    /* top: 50px !important; */
}

.modal-backdrop {
    z-index: 98 !important;
}

.modal-footer {
    border: none !important;
}

.carousel-control-next span,
.carousel-control-prev span {
    background-color: black;
    filter: invert(1);
    border-radius: 50px;
    border: 1px solid white;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.651);
}


.mobile-nav {
    display: none;
}

#close {
    display: none;
}

.mobile-menu {
    display: none;
    padding-top: 50px;
    animation: mobile 0.5s ease-in-out;
}

.mobile-menu ul {
    padding: 0px;
}

.mobile-navlist-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobile-navlist-container ul {
    list-style: none;
}

.mobile-navlist-container p {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

@keyframes mobile {
    0% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/*/////////////////////////////PAGE 1/////////////////////////////////////*/


.cote-blanc {
    clip-path: polygon(54% 0, 100% 0%, 100% 100%, 43% 100%);
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
}

.page1 {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.page1 h1 {
    color: white;
    mix-blend-mode: difference;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    font-size: 5.9vw;
}

.page1 .avatar {
    z-index: 999;
    margin-top: 50px;
    margin-bottom: 90px;
    width: 20%;
    height: 20%;
    aspect-ratio: 1/1;
    max-width: 200px;
    max-height: 200px;
}

.page1 .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    bottom: 20px;
}

.page1 .links a,
.page1 .links img {
    width: 30px;
    height: 30px;
}



.github {
    margin-top: 15px;
}


.hr-bas-gauche-haut {
    position: absolute !important;
    bottom: 120px !important;
    left: 34px !important;
    height: 80px !important;
    border: 1px solid #E1C118 !important;
    opacity: 1 !important;
}

.hr-bas-gauche-droite {
    position: absolute !important;
    bottom: -5px !important;
    transform: rotate(90deg) !important;
    left: 110px !important;
    height: 80px !important;
    border: 1px solid #E1C118 !important;
    opacity: 1 !important;
}

.hr-haut-droite-bas {
    position: absolute !important;
    top: 55px !important;
    right: 30px !important;
    height: 80px !important;
    border: 1px solid #E1C118 !important;
    opacity: 1 !important;
}

.hr-haut-droite-gauche {
    position: absolute !important;
    transform: rotate(90deg) !important;
    top: -10px !important;
    right: 104px !important;
    height: 80px !important;
    border: 1px solid #E1C118 !important;
    opacity: 1 !important;
}

.author {
    font-family: 'Arya', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
}




/*/////////////////////////////PAGE 2/////////////////////////////////////*/

.page2 {
    position: absolute;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border: 1px solid white;
    color: white;
    z-index: 97;
    overflow: hidden !important;
    background-color: #101010 !important;
}


nav ul {
    display: flex;
    margin-bottom: 0px !important;
}


nav li {
    list-style: none;
    margin-left: 40px;
}

nav .nav-a {
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Arya', sans-serif;
}

.right-item {
    margin-right: 20px;
}

nav:hover {
    cursor: auto;
}

.nav-a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(11, 228, 11);
    position: absolute;
    top: 24px;
    left: 0px;
    display: none;
    z-index: 999999;
}


.nav-a:hover::after {
    content: '';
    /* width: 100% !important; */
    height: 2px;
    background-color: white;
    position: absolute;
    top: 24px;
    left: 0px;
    display: block;
    animation: slidenav 0.6s ease-in-out;
    z-index: 999999;
}





/*/////////////////////////////A PROPOS/////////////////////////////////////*/

.apropos {
    margin-top: 100px;
}


.apropos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-container {
    margin-top: 150px;
    /* background-color: green; */
    display: flex;
    color: white;
    align-items: center;
    /* margin-left: 5%;
    margin-right: 5%;
    max-width: 1500px; */
    width: 100%;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.infos-perso-block {
    display: flex;
    flex-direction: column;
}

.infos-perso-block h3 {
    font-size: 15px;
}

.infos-perso-container {
    /* background-color: orange; */
    width: 100%;
    display: flex;
    line-height: 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.infos-perso-gauche span,
.infos-perso-droite span {
    color: rgba(255, 255, 255, 0.6);
}

.infos-perso-gauche {
    margin-right: 100px;
}

.infos-texte {
    width: 900px;
    font-size: 22px;
    text-align: center;
    border: 1px solid white;
    padding: 30px;
}

.infos-perso-block a {
    width: 167px;
    padding: 9px;
    background-color: transparent;
    border: 1px solid #E1C118;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}


/*/////////////////////////////COMPETENCES/////////////////////////////////////*/


.compétences {
    margin-top: 200px;
    color: white;
    font-family: 'Bakbak One', cursive;
    letter-spacing: 5px;
}


.charts {
    width: 70%;
    max-width: 1200px;
    /* background-color: pink; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.chart {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
}

.chart h4 {
    position: absolute;
    left: 30%;
    top: 45%;
    z-index: 999;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



/*/////////////////////////////MES EXPERIENCES/////////////////////////////////////*/

.timeline {
    display: block;
    align-items: baseline;
    justify-content: baseline;
    text-align: start;
    position: relative;
    height: 250px;
}

.timeline hr {
    width: 95% !important;
    margin-left: 5% !important;
    /* margin-top: 420px !important; */
    /* transform: rotate(90deg); */
    border: 1.5px solid white;
    background-color: white !important;
}

.timeline span {
    color: #E1C118;
    font-weight: bold;
}

.line {
    background-color: rgb(255, 255, 255);
    margin-left: 5% !important;
    width: 95%;
    height: 2px;
    margin-top: 400px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 500px;
    background-color: white;
}

.dot0 {
    position: absolute;
    top: -10px;
    left: 5%;
}


.dot1 {
    position: absolute;
    top: -10px;
    left: 20%;
}

.dot2 {
    position: absolute;
    top: -10px;
    left: 35%;
}

.dot3 {
    position: absolute;
    top: -10px;
    left: 55%;
}

.dot4 {
    position: absolute;
    top: -10px;
    left: 75%;
}

.dot5 {
    position: absolute;
    top: -10px;
    left: 75%;
}



#tooltip-DEBUT {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-DEBUT,
#arrow-DEBUT::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-DEBUT {
    visibility: hidden;
}

#arrow-DEBUT::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-DEBUT[data-popper-placement^='top']>#arrow-DEBUT {
    bottom: -4px;
}

#tooltip-DEBUT[data-popper-placement^='bottom']>#arrow-DEBUT {
    top: -4px;
}

#tooltip-DEBUT[data-popper-placement^='left']>#arrow-DEBUT {
    right: -4px;
}

#tooltip-DEBUT[data-popper-placement^='right']>#arrow-DEBUT {
    left: -4px;
}








#tooltip-BAC {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-BAC,
#arrow-BAC::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-BAC {
    visibility: hidden;
}

#arrow-BAC::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-BAC[data-popper-placement^='top']>#arrow-BAC {
    bottom: -4px;
}

#tooltip-BAC[data-popper-placement^='bottom']>#arrow-BAC {
    top: -4px;
}

#tooltip-BAC[data-popper-placement^='left']>#arrow-BAC {
    right: -4px;
}

#tooltip-BAC[data-popper-placement^='right']>#arrow-BAC {
    left: -4px;
}

#tooltip-IRIS {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-IRIS,
#arrow-IRIS::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-IRIS {
    visibility: hidden;
}

#arrow-IRIS::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-IRIS[data-popper-placement^='top']>#arrow-IRIS {
    bottom: -4px;
}

#tooltip-IRIS[data-popper-placement^='bottom']>#arrow-IRIS {
    top: -4px;
}

#tooltip-IRIS[data-popper-placement^='left']>#arrow-IRIS {
    right: -4px;
}

#tooltip-IRIS[data-popper-placement^='right']>#arrow-IRIS {
    left: -4px;
}



#tooltip-STAGE {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-STAGE,
#arrow-STAGE::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-STAGE {
    visibility: hidden;
}

#arrow-STAGE::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-STAGE[data-popper-placement^='top']>#arrow-STAGE {
    bottom: -4px;
}

#tooltip-STAGE[data-popper-placement^='bottom']>#arrow-STAGE {
    top: -4px;
}

#tooltip-STAGE[data-popper-placement^='left']>#arrow-STAGE {
    right: -4px;
}

#tooltip-STAGE[data-popper-placement^='right']>#arrow-STAGE {
    left: -4px;
}




#tooltip-ANNEE {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-ANNEE,
#arrow-ANNEE::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-ANNEE {
    visibility: hidden;
}

#arrow-ANNEE::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-ANNEE[data-popper-placement^='top']>#arrow-ANNEE {
    bottom: -4px;
}

#tooltip-ANNEE[data-popper-placement^='bottom']>#arrow-ANNEE {
    top: -4px;
}

#tooltip-ANNEE[data-popper-placement^='left']>#arrow-ANNEE {
    right: -4px;
}

#tooltip-ANNEE[data-popper-placement^='right']>#arrow-ANNEE {
    left: -4px;
}









#tooltip-ALTERNANCE {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#arrow-ALTERNANCE,
#arrow-ALTERNANCE::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow-ALTERNANCE {
    visibility: hidden;
}

#arrow-ALTERNANCE::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip-ALTERNANCE[data-popper-placement^='top']>#arrow-ALTERNANCE {
    bottom: -4px;
}

#tooltip-ALTERNANCE[data-popper-placement^='bottom']>#arrow-ALTERNANCE {
    top: -4px;
}

#tooltip-ALTERNANCE[data-popper-placement^='left']>#arrow-ALTERNANCE {
    right: -4px;
}

#tooltip-ALTERNANCE[data-popper-placement^='right']>#arrow-ALTERNANCE {
    left: -4px;
}

/*/////////////////////////////ALTERNANCE/////////////////////////////////////*/
.alternance-flex {
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 80px;
}

.sous-page-alternance .title {
    margin-top: 250px;
}

.cd2ri p,
.tchilee p {
    margin-bottom: 0px !important;
}

.cd2ri {
    /* background-color: red; */
    display: inline-flex;
    width: min-content;
    position: relative;
    left: -10%;
    top: 100px;
}

.cd2ri-image {
    width: 300px;
    background-color: white;
    display: flex;
    aspect-ratio: 1/1;
}

.cd2ri-image img {
    width: 100%;
    height: auto;
}

.cd2ri-text-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    /* background-color: green; */
    margin-left: 15px;
}

.cd2ri-top-text {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.cd2ri-bottom-text {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tchilee {
    /* background-color: red; */
    display: inline-flex;
    flex-direction: row-reverse;
    width: min-content;
    position: relative;
    left: 9.5%;
    top: 200px;
}

.tchilee-image {
    width: 300px;
    background-color: white;
    display: flex;
    aspect-ratio: 1/1;
}

.tchilee-image img {
    width: 300px;
    height: 170px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tchilee-text-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    /* background-color: green; */
    margin-right: 15px;
}

.tchilee-top-text {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tchilee-bottom-text {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*/////////////////////////////PROJETS/////////////////////////////////////*/


.projets .title {
    margin-top: 300px;
}


.projets-container {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.projets-container h3 {
    font-family: 'Bakbak One', cursive;
    color: white;
    letter-spacing: 5px;
}

.projets-catégorie-container {
    margin-top: 20px;

}

.projets-catégorie-container button {
    margin-left: 20px;
    width: 167px;
    padding: 9px;
    background-color: transparent;
    border: 1px solid #E1C118;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

#bouton-ecole {
    background-color: rgba(255, 255, 255, 0.1);
}

.projets-catégorie-container button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

#projets-blocks-ecole {
    display: flex;
}

#projets-blocks-entreprise {
    display: none;
}


#projets-blocks-personnel {
    display: none;
}

#blocks-certif {
    display: none;
}


.projets-blocks {
    /* background-color: white; */
    width: 90%;
    max-width: 1600px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block {
    background-color: white;
    width: 31%;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.block-certif a {
    display: block;
    width: 100%;
    height: 100%;
}

.tab-comp {
    color: white !important;
    text-decoration: none;
}

.tab-comp:hover {
    text-decoration: underline;
}

.veille-contenu span {
    font-size: 30px;
    font-weight: 200;
}

.veille-contenu a:hover {
    color: blue !important;
}

.veille-contenu strong {
    font-weight: 600;
}


.veille-contenu p {
    line-height: 30px;
}

.block:hover {
    cursor: pointer;
}

.block h3 {
    color: black;
}

.block-tchilee {
    background-image: url('images/Tchilee/accueil.png');
}

.block-garage {
    background-image: url('images/Garage2023/login-garage.png');
}

.block-scolarite {
    background-image: url('images/Scolarite/classes-admin-petit.png');
}

.block-server {
    background-image: url('images/Serveur/ubuntu.png');
}

.block-bank {
    background-image: url('images/bank-dashboard/index.png');
}

.block-PPE {
    background-image: url('images/PPE/Accueil-petit.png');
}

.block-SkillsTouch {
    background-image: url('images/SkillTouch/index-petit.png');
}

.block-copilot {
    background-image: url('images/copilot/copilot.jpeg');
}

.block-rtx {
    background-image: url('images/Nvidia/rtx.png');
}

.block-droit1 {
    background-image: url('images/droit1/fd.png');
}

.block-htmlcss {
    background-image: url('images/Certifications/html-css.png');
}

.block-securite {
    background-image: url('images/Certifications/securite-numerique.png');
}

.block-softskills {
    background-image: url('images/Certifications/soft-skills.png');
}

.block-debutezReact {
    background-image: url('images/Certifications/debutezReact.png');
}

.modal-a {
    color: black;
    text-decoration: underline;
}

.modal-a:hover {
    color: black !important;
    cursor: pointer;
    font-weight: bold;
}

.sub-block {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 1s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.sub-block h3 {
    /* background-color: #E1C118; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.hover-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    text-align: left;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transition: all 1s;
    font-size: 15px;
    transform: translateY(100%);
}

.block:hover .sub-block {
    scale: 1.1;
}

.block:hover .hover-desc {
    opacity: 1;
    transform: translateY(0%);
}

.modal-choix-container {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.modal-choix {
    width: 20%;
    border: 1px solid #E1C118;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-choix:hover {
    cursor: pointer;
}

.modal-choix h3 {
    font-size: 15px;
    margin: 5px;
}

.modal-choix1-g {
    background-color: rgba(0, 0, 0, 0.1);
}

.contenu-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    margin-top: 50px;
}

.contenu-modal div span {
    font-weight: 600;
}

.choix1-contenu-g {
    /* background-color: #E1C118; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.choix1-contenu-g p {
    /* background-color: #E1C118; */
    max-width: 75%;
    text-align: center;
}

.modal-choix-contenu-g {
    display: none;
}

.modal-choix-contenu-capture-g a:first-child {
    margin-top: 0px !important;
}

.modal-choix-contenu-capture-g a {
    display: block;
    margin-top: 20px;
}

.modal-choix-contenu-capture-g img {
    border: 1px solid black;
}


/*/////////////////////////////VEILLE/////////////////////////////////////*/


.veille .title {
    margin-top: 150px;
}


.veille-container {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.veille-container h3 {
    font-family: 'Bakbak One', cursive;
    color: white;
    letter-spacing: 5px;
}


.veille-blocks {
    /* background-color: white; */
    width: 90%;
    max-width: 1600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.veille .block h3 {
    color: black;
}


/*/////////////////////////////CONTACT/////////////////////////////////////*/

.contact img {
    width: 40px;
    height: 40px;
}

.contact .links {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
}

.contact .links .github,
.contact .links .linkedin,
.contact .links .mail {
    margin-top: 20px;
}

.contact .links .github h4,
.contact .links .linkedin h4,
.contact .links .mail h4 {
    position: relative;
    top: 10px;
    left: 10px;
}

.contact a {
    /* background-color: #E1C118; */
    width: 200px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
}

.mail a {
    width: 260px;
}

.contact a:hover {
    cursor: pointer;
}

.contact a::after {
    content: '';
    height: 2px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50px;
    display: none;
}

.mail a:hover::after {
    content: '';
    width: 80%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50px;
    display: block;
    animation: slide-mail 0.5s ease-in-out;
}

.github a:hover::after,
.linkedin a:hover::after {
    content: '';
    width: 67%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50px;
    display: block;
    animation: slide 0.5s ease-in-out !important;
}

.contact h4 {
    font-size: 15px !important;
}

@keyframes slide {
    0% {
        width: 0%;
    }

    100% {
        width: 67%;
    }
}

@keyframes slide-mail {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes slidenav {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}



@media screen and (max-width:1400px) {

    .infos-texte {
        width: 500px;
        font-size: 18px;
        text-align: center;
        border: 1px solid white;
        padding: 30px;
    }


}


@media screen and (max-width:1450px) {

    .chart {
        margin-top: 20px;
        margin-left: 0px;
    }
}



@media screen and (max-width:950px) {

    .infos-texte {
        width: 300px;
        font-size: 15px;
        text-align: center;
        border: 1px solid white;
        padding: 30px;
    }

    .infos-perso-gauche {
        margin-right: 50px;
    }
}





@media screen and (max-width:765px) {

    #cursor {
        display: none;
    }

    html {
        cursor: initial;
    }

    .timeline {
        height: 1200px;
    }

    .line {
        transform: rotate(90deg);
        position: absolute;
        left: -446px;
        top: 600px;
        width: 1000px;
        margin-top: 0px;
    }


    .dot0 {
        position: absolute;
        top: 100px;
        left: 63px;
    }


    .dot1 {
        position: absolute;
        top: 350px;
        left: 63px;
    }

    .dot2 {
        position: absolute;
        top: 500px;
        left: 63px;
    }

    .dot3 {
        position: absolute;
        top: 710px;
        left: 63px;
    }

    .dot4 {
        position: absolute;
        top: 900px;
        left: 63px;
    }

    .dot5 {
        position: absolute;
        top: 1000px;
        left: 63px;
    }


    .page1 h1 {
        color: white;
        mix-blend-mode: difference;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        font-size: 5.9vw;
    }

    .page1 .avatar {
        z-index: 999;
        margin-top: 150px;
        margin-bottom: 100px;
        width: 20%;
        height: 20%;
        aspect-ratio: 1/1;
        max-width: 200px;
        max-height: 200px;
    }

    .modal {
        top: 0px !important;
    }

    .modal-choix-container {
        flex-direction: column;
    }

    .modal-choix {
        width: 100%;
        margin-top: 10px;
    }

    .projets-blocks {
        flex-direction: column;
    }

    .block {
        margin-top: 15px;
        width: 100%;
    }

}

@media screen and (max-width:1085px) {

    .cd2ri-image {
        width: 200px;
        background-color: white;
        display: flex;
        aspect-ratio: 1/1;
    }

    .cd2ri-top-text {
        font-size: 12px;
    }

    .cd2ri-bottom-text {
        font-size: 12px;
    }

    .tchilee-image {
        width: 200px;
    }

    .tchilee-image img {
        width: 200px;
        height: 110px !important;
    }

    .tchilee-top-text {
        font-size: 13px;
    }

    .tchilee-bottom-text {
        font-size: 13px;
    }

}

@media screen and (max-width:960px) {

    .cd2ri {
        /* background-color: red; */
        display: inline-flex;
        width: min-content;
        position: relative;
        left: 0%;
        top: 100px;
    }

    .cd2ri-image {
        width: 170px;
        background-color: white;
        display: flex;
        aspect-ratio: 1/1;
    }

    .cd2ri-text-container {
        width: 450px;
    }

    .cd2ri-top-text {
        padding: 5px;
        font-size: 10px;
    }

    .cd2ri-bottom-text {
        padding: 5px;
        font-size: 10px;
    }

    .tchilee {
        left: 0%;
    }

    .tchilee-text-container {
        width: 450px;
    }

    .tchilee-image {
        width: 150px;
    }

    .tchilee-image img {
        width: 150px;
        height: 80px !important;
    }

    .tchilee-top-text {
        font-size: 10px;
    }

    .tchilee-bottom-text {
        font-size: 10px;
    }

    .mobile-nav {
        display: block;
    }

    nav ul li {
        display: none;
    }

    nav {
        padding: 1px;
    }

    .mobile-menu {
        width: 100%;
        height: 100vh;
        display: none;
        background-color: #101010;
        z-index: 999998;
        transform: translateY(-100%);
    }

    nav {
        z-index: 99999999;
    }

    .modal {
        z-index: 999999999 !important;
        /* top: 50px !important; */
    }

    .modal-backdrop {
        z-index: 999999998 !important;
    }


}


@media screen and (max-width:700px) {

    .infos-container {
        flex-direction: column;
    }

    .infos-texte {
        margin-top: 50px;
    }

    .cd2ri {
        flex-direction: column;
        align-items: center;
    }

    .cd2ri-text-container {
        margin-left: 0px;
    }

    .tchilee-text-container {
        margin-right: 0px;
    }

    .cd2ri-image {
        margin-bottom: 10px;
    }

    .tchilee {
        flex-direction: column;
        align-items: center;
        left: 0%;
    }

    .tchilee-image {
        margin-bottom: 10px;
    }

}


@media screen and (max-width:470px) {

    .cd2ri-text-container {
        width: 300px;
    }

    .tchilee-text-container {
        width: 300px;
    }

    .infos-perso-container {
        font-size: 12px;
    }
}
